html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.container{
    width: 100%;
    height: 100%;
    background-color:  #7b67c3;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.shopping_cart_container{
    width: 60%;
    height: 80%;
    /* background-color: aqua; */
}
.cart1_div{
    width: 100%;
    height: 20%;
    /* background-color:lawngreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    margin: 0;
    color: rgb(255,255,255);
    font-family: sans-serif;
}
.cart2_div{
    width: 100%;
    height: 80%;
    background-color: rgb(255,255,255);
    display: flex;
    align-items: center;

}
.form_container1{
    width: 50%;
    height: 100%;
    background-color: rgb(255,255,255);
}
.form_container2{
    width: 50%;
    height: 100%;
    background-color: rgb(255,255,255);
}
hr{
    width: 1px;
    height: 100%;
    color: black;
}
button{
    width: 300px;
    height: 30px;
    background-color: #451ad3;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    /* background-color: blue; */
}
.form1{
    width: 100%;
    height: 30%;
    margin-top: 20px;
}
.form2{
    width: 100%;
    height: 30%;
}
.form3{
    width: 100%;
    height: 50%;
}
.content{
    width: 100%;
    height: 100%;
    
}
.box1{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_div{
    width: 50%;
    height: 100%;
    /* background-color: chartreuse; */
}
.amount_div{
    width: 50%;
    height: 100%;
    /* background-color: #7b67c3; */
}

